%p
  Author: #{ @question.user.name }
%p
  Title: #{ @question.title }
%p
  Body:
%p= @question.body

.voting
  = render 'votes/vote_for_question', votable: @question

- if policy(@question).update?
  .links
    = link_to "Edit", "", class: "edit-question-link"
    = render "questions/form_edit"
    = link_to " Delete", @question, method: :delete, remote: true, data: { confirm: "Are you sure?" }
