= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body

    .form-attachment
      %p
        = f.fields_for :attachments do |n|
          .nested-fields
            = n.label :file
            = n.file_field :file

  .form-actions
    = f.button :submit

%p= link_to 'Back', questions_path
