.question
  = render @question

  .attachments-list
    - if @question.attachments.any?
      %p Attachments:

    %ul
      - @question.attachments.each do |a|
        %li{ :class => "attachment", :id => "attachment-id-#{a.id}" }
          = link_to a.file.identifier, a.file.url
          - if user_signed_in? && current_user.author_of?(@question)
            = link_to 'Delete file', attachment_path(a), method: :delete, remote: true

  .comments
    - if @question.comments.any?
      %p Comments:

    .list
      - @question.comments.each do |c|
        = render 'comments/comment', comment: c

    .form
      - if user_signed_in?
        = link_to "Add Comment", "", class: 'comment-form-link', data: { id: @question.id, type: 'question' }
        = render 'comments/form', commentable: @question, type: 'question'

.answers
  %p= render @answers

- if user_signed_in?
  .answers-form
    %p= render 'answers/form'

%p= link_to 'Back', questions_path

