= simple_form_for([commentable, Comment.new], remote: true, html: { id: "#{type}-comment-form-#{commentable.id}" }) do |f|
  .comments-errors-form

  .form-inputs
    = f.input :body

  .form-actions
    = f.button :submit
