- if answer.persisted?
  %div{ :class => "answer", :id => "answer-id-#{answer.id}" }
    %p Author:
    %p= answer.user.email
    %p= answer.body

    .voting
      = render 'votes/vote_for_answer', votable: answer

    .attachments-list
      %p
        Attachments:
        %ul
          - answer.attachments.each do |a|
            %li{ :class => "attachment", :id => "attachment-id-#{a.id}" }
              = link_to a.file.identifier, a.file.url
              - if user_signed_in? && current_user.author_of?(answer)
                = link_to 'Delete file', attachment_path(a), method: :delete, remote: true

    .comments
      - if answer.comments.any?
        %p Comments:

      .list
        - answer.comments.each do |c|
          = render 'comments/comment', comment: c

      .form
        - if user_signed_in?
          = link_to "Add Comment", "", class: 'comment-form-link', data: { id: answer.id, type: 'answer' }
          = render 'comments/form', commentable: answer, type: 'answer'

      - if user_signed_in? && current_user.author_of?(answer.question)
        .best-group
          - unless answer.best?
            = link_to 'Set as best', best_answer_path(answer), method: :post, remote: true
          - else
            %p The Best Answer

    - if user_signed_in? && current_user.author_of?(answer)
      .links
        = link_to "Edit", '', class: 'edit-answer-link', data: { answer_id: answer.id }
        .form-group
          = render 'answers/form_edit', answer: answer
        = link_to " Delete Answer", answer, method: :delete, remote: true, data: { confirm: "Are you sure?" }
