= simple_form_for([@question, @answer], remote: true) do |f|
  = f.error_notification
  .answers-errors-form

  .form-inputs
    = f.input :body

  .form-attachment
    %p
      = f.simple_fields_for :attachments, @answer.attachments.build do |file|
        = render 'attachments/attachment_fields', f: file
      .links
        = link_to_add_association 'add file', f, :attachments, partial: 'attachments/attachment_fields', f: :attachments

  .form-actions
    = f.button :submit
