.score
  %p= "Likes: #{votable.total_score}"

- if policy(votable).vote?
  -unless votable.votes.exists?(user: current_user)
    = link_to "Up \t", polymorphic_path(votable, action: :vote_up), remote: true, method: :post, class: 'vote-link-true'
    = link_to "Down \t", polymorphic_path(votable, action: :vote_down), remote: true, method: :post, class: 'vote-link-true'
    = link_to 'Cancel', polymorphic_path(votable, action: :vote_cancel), remote: true, method: :post, class: 'vote-link-false', style:'display:none'
  -else
    = link_to "Up \t", polymorphic_path(votable, action: :vote_up), remote: true, method: :post, class: 'vote-link-true', style:'display:none'
    = link_to "Down \t", polymorphic_path(votable, action: :vote_down), remote: true, method: :post, class: 'vote-link-true', style:'display:none'
    = link_to 'Cancel', polymorphic_path(votable, action: :vote_cancel), remote: true, method: :post, class: 'vote-link-false'
